# This script converts all code numbers to code names
===============================

import pandas as pd

df = pd.read_excel(r'D:\Projects\UG-league-project\data\coded-transcripts\old-coding-scheme\team-1.xlsx')
df

#extract the rater column values

rater1_column1 = df.iloc[:, 4]
rater1_column2 = df.iloc[:, 5]

rater2_column1 = df.iloc[:, 6]
rater2_column2 = df.iloc[:, 7]

rater1_column1_codes = list(rater1_column1.values)
rater1_column2_codes = list(rater1_column2.values)

rater2_column1_codes = list(rater2_column1.values)
rater2_column2_codes = list(rater2_column2.values)

In [17]:
# function to recode from old coding scheme
def recode_old_codes(list_of_column_codes):
    
    recoded = []
    
    for code in list_of_column_codes:
        if code == 0: 
            recoded.append('misc')
            
        if code == 1: 
            recoded.append('command')
            
        if code == 2: 
            recoded.append('command')
            
        if code == 3: 
            recoded.append('observation')
            
        if code == 4: 
            recoded.append('suggestion')
            
        if code == 5: 
            recoded.append('question or inquiry')
            
        if code == 6: 
            recoded.append('answer')
            
        if code == 7: 
            recoded.append('sharing intention')
            
        if code == 8: 
            recoded.append('disagree')
            
        if code == 9: 
            recoded.append('humour or taunting')
            
        if code == 10: 
            recoded.append('frustration')
            
        if code == 11: 
            recoded.append('frustration')
            
        if code == 12: 
            recoded.append('frustration')
            
        if code == 13: 
            recoded.append('apologies')
            
        if code == 14: 
            recoded.append('non-task related')
            
        if code == 15: 
            recoded.append('non-task related')
            
        if code == 16: 
            recoded.append('agree or acknowledge')
            
        if code == 17: 
            recoded.append('opinion or analysis')
            
        if code == 18: 
            recoded.append('encouragement')
            
        if code == 19: 
            recoded.append('emotional expression')
            
        if code == 20: 
            recoded.append('thanks or welcome')
        
        if pd.isna(code):
            recoded.append('NaN')
            
    return recoded

In [16]:
# function to recode from new coding scheme
def recode_new_codes(list_of_column_codes):
    
    recoded = []
    
    for code in list_of_column_codes:
        if code == 0: 
            recoded.append('misc')
            
        if code == 1: 
            recoded.append('command')
            
        if code == 2: 
            recoded.append('observation')
            
        if code == 3: 
            recoded.append('suggestion')
            
        if code == 4: 
            recoded.append('question or inquiry')
            
        if code == 5: 
            recoded.append('answer')
            
        if code == 6: 
            recoded.append('sharing intention')
            
        if code == 7: 
            recoded.append('disagree')
            
        if code == 8: 
            recoded.append('humour or taunting')
            
        if code == 9: 
            recoded.append('frustration')
            
        if code == 10: 
            recoded.append('apologies')
            
        if code == 11: 
            recoded.append('non-task related')
            
        if code == 12: 
            recoded.append('agree or acknowledge')
            
        if code == 13: 
            recoded.append('opinion or analysis')
            
        if code == 14: 
            recoded.append('encouragement')
            
        if code == 15: 
            recoded.append('emotional expression')
            
        if code == 16: 
            recoded.append('thanks or welcome')
        
        if pd.isna(code):
            recoded.append('NaN')
            
    return recoded

### function to get team number

In [3]:
def get_team_number_from_xls(transcript):

    split_file_name_into_content = transcript.split("\\")
    #print(split_file_name_into_content)
    team_number_file_name = split_file_name_into_content[6][:-5]
    #print(team_number_file_name)
    split = team_number_file_name.split("-")

    team_number = split[1]
   
    return team_number

## re code all files with new coding scheme

In [18]:
import glob
import pandas as pd

# go through the files in the directory
transcripts = glob.glob(r'D:\Projects\UG-league-project\data\coded-transcripts\new-coding-scheme\*.xlsx')

for transcript in transcripts: 
    # get team number
    team_number = get_team_number_from_xls(transcript)
    
    print(team_number)
    
    df = pd.read_excel(transcript)
    
    #extract the rater column values

    rater1_column1 = df.iloc[:, 4]
    rater1_column2 = df.iloc[:, 5]

    rater2_column1 = df.iloc[:, 6]
    rater2_column2 = df.iloc[:, 7]

    rater1_column1_codes = list(rater1_column1.values)
    rater1_column2_codes = list(rater1_column2.values)

    rater2_column1_codes = list(rater2_column1.values)
    rater2_column2_codes = list(rater2_column2.values)
    
    # run the function
    recoded_rater1_1 = recode_new_codes(rater1_column1_codes)
    recoded_rater1_2 = recode_new_codes(rater1_column2_codes)
    recoded_rater2_1 = recode_new_codes(rater2_column1_codes)
    recoded_rater2_2 = recode_new_codes(rater2_column2_codes)
     
    # give new columns
    df['rater1_1'] = recoded_rater1_1
    df['rater1_2'] = recoded_rater1_2
    df['rater2_1'] = recoded_rater2_1
    df['rater2_2'] = recoded_rater2_2
    
    display(df.head())
    
    df.to_excel(r'D:\Projects\UG-league-project\data\coded-transcripts\recoded-transcripts\team-' + team_number + '.xlsx', index = False)

10

,Player,Team,Timestamp,Sentence,code-1-eve,code-2-eve,code-1-ally,code-2-ally,rater1_1,rater1_2,rater2_1,rater2_2
0,1,10,00:02,we need to like talk like pro players which is...,11,NaN,11,NaN,non-task related,NaN,non-task related,NaN
1,2,10,00:07,he's on me he's on me,2,NaN,2,NaN,observation,NaN,observation,NaN
2,1,10,00:09,heheh,8,NaN,8,NaN,humour or taunting,NaN,humour or taunting,NaN
3,3,10,00:09,how can we see his item?,4,NaN,4,NaN,question or inquiry,NaN,question or inquiry,NaN
4,2,10,00:13,"now he goes ending, oh what? we can see it",13,NaN,13,NaN,opinion or analysis,NaN,opinion or analysis,NaN

12

,Player,Team,Timestamp,Sentence,code-1-eve,code-2-eve,code-1-ally,code-2-ally,rater1_1,rater1_2,rater2_1,rater2_2
0,1,12,00:12,do you wanna invade?,3,NaN,3,NaN,suggestion,NaN,suggestion,NaN
1,2,12,00:14,uh sure,12,NaN,12,NaN,agree or acknowledge,NaN,agree or acknowledge,NaN
2,3,12,00:15,I'm going to ward and then I'm gonna... uh wai...,6,NaN,6,1.0,sharing intention,NaN,sharing intention,command
3,2,12,00:17,Im nearly there,2,NaN,6,NaN,observation,NaN,sharing intention,NaN
4,1,12,00:19,I'm gonna start E,6,NaN,6,NaN,sharing intention,NaN,sharing intention,NaN

13

,Player,Team,Timestamp,Sentence,code-1-eve,code-2-eve,code-1-aj,code-2-aj,rater1_1,rater1_2,rater2_1,rater2_2
0,1,13,00:09:00,Okay we're late for tribush. .,13,NaN,13,NaN,opinion or analysis,NaN,opinion or analysis,NaN
1,2,13,00:45:00,We have some nice...,0,NaN,0,NaN,misc,NaN,misc,NaN
2,1,13,00:46:00,"Sorry Morg, me standing here kind of selling y...",10,NaN,10,NaN,apologies,NaN,apologies,NaN
3,1,13,01:00:00,I'm going this way. I'm going to try blue buff...,6,NaN,6,NaN,sharing intention,NaN,sharing intention,NaN
4,4,13,01:06:00,I'm starting w so,6,NaN,2,NaN,sharing intention,NaN,observation,NaN

20

,Player,Team,Timestamp,Sentence,code-1-eve,code-2-eve,code-1-ally,code-2-ally,rater1_1,rater1_2,rater2_1,rater2_2
0,1,20,00:51,Interesting,13,NaN,13,NaN,opinion or analysis,NaN,opinion or analysis,NaN
1,2,20,00:52,yep,12,NaN,12,NaN,agree or acknowledge,NaN,agree or acknowledge,NaN
2,1,20,01:10,singed proxy,2,NaN,2,NaN,observation,NaN,observation,NaN
3,2,20,01:11,oh hell no,15,NaN,15,NaN,emotional expression,NaN,emotional expression,NaN
4,3,20,01:12,Are you kidding me? Are you kidding me?,15,NaN,15,NaN,emotional expression,NaN,emotional expression,NaN

21

,Player,Team,Timestamp,Sentence,code-1-eve,code-2-eve,code-1-ally,code-2-ally,rater1_1,rater1_2,rater2_1,rater2_2
0,1,21,00:02,overall pretty busted,0,NaN,0,NaN,misc,NaN,misc,NaN
1,1,21,00:05,so are we going for the invade or are we going...,4,NaN,4,NaN,question or inquiry,NaN,question or inquiry,NaN
2,2,21,00:07,Yeah well we have to go through track well go ...,5,1.0,5,1.0,answer,command,answer,command
3,2,21,00:13,Hey guys I'm kinda down to flash over the wall,3,NaN,3,NaN,suggestion,NaN,suggestion,NaN
4,3,21,00:16,that's gonna be an issue for me,7,NaN,7,NaN,disagree,NaN,disagree,NaN

30

,Player,Team,Timestamp,Sentence,code-1-eve,code-2-eve,code-1-aj,code-2-aj,rater1_1,rater1_2,rater2_1,rater2_2
0,1,30,00:06:00,Invade?,3,NaN,3,NaN,suggestion,NaN,suggestion,NaN
1,2,30,00:07:00,Yeah sure,12,NaN,12,NaN,agree or acknowledge,NaN,agree or acknowledge,NaN
2,3,30,00:09:00,"Sure, why not?",15,NaN,12,NaN,emotional expression,NaN,agree or acknowledge,NaN
3,4,30,00:30:00,Oh my,15,NaN,15,NaN,emotional expression,NaN,emotional expression,NaN
4,2,30,00:31:00,Ouch,15,NaN,15,NaN,emotional expression,NaN,emotional expression,NaN

35

,Player,Team,Timestamp,Sentence,code-1-eve,code-2-eve,code-1-ally,code-2-ally,rater1_1,rater1_2,rater2_1,rater2_2
0,2,35,00:00,My thing says-,0,NaN,0,NaN,misc,NaN,misc,NaN
1,3,35,00:01,It's giving me a rank-,0,NaN,0,NaN,misc,NaN,misc,NaN
2,5,35,00:04,Do you guys wanna invade?,3,NaN,3,NaN,suggestion,NaN,suggestion,NaN
3,2,35,00:07,We can do that.,12,NaN,12,NaN,agree or acknowledge,NaN,agree or acknowledge,NaN
4,2,35,00:19,Soraka surprised that she's queuing into peopl...,13,NaN,13,NaN,opinion or analysis,NaN,opinion or analysis,NaN

4

,Player,Team,Timestamp,Sentence,code-1-eve,code-2-eve,code-1-aj,code-2-aj,rater1_1,rater1_2,rater2_1,rater2_2
0,3,4,00:07:00,I think I can I can do red and cheese gank top...,13,NaN,13,NaN,opinion or analysis,NaN,opinion or analysis,NaN
1,4,4,00:16:00,"get a level 2 mid. Anivia starts with you, you...",1,13.0,1,2.0,command,opinion or analysis,command,observation
2,3,4,00:22:00,Okay ok,12,NaN,12,NaN,agree or acknowledge,NaN,agree or acknowledge,NaN
3,4,4,00:24:00,y'all wanna invade?,3,NaN,3,NaN,suggestion,NaN,suggestion,NaN
4,2,4,00:25:00,You never mentioned mid lane for some reason.,2,NaN,11,NaN,observation,NaN,non-task related,NaN

### recode files with old coding scheme

In [19]:
import glob
import pandas as pd

# go through the files in the directory
transcripts = glob.glob(r'D:\Projects\UG-league-project\data\coded-transcripts\old-coding-scheme\*.xlsx')

for transcript in transcripts: 
    # get team number
    team_number = get_team_number_from_xls(transcript)
    
    df = pd.read_excel(transcript)
    
    #extract the rater column values

    rater1_column1 = df.iloc[:, 4]
    rater1_column2 = df.iloc[:, 5]

    rater2_column1 = df.iloc[:, 6]
    rater2_column2 = df.iloc[:, 7]

    rater1_column1_codes = list(rater1_column1.values)
    rater1_column2_codes = list(rater1_column2.values)

    rater2_column1_codes = list(rater2_column1.values)
    rater2_column2_codes = list(rater2_column2.values)
    
    # run the function
    recoded_rater1_1 = recode_old_codes(rater1_column1_codes)
    recoded_rater1_2 = recode_old_codes(rater1_column2_codes)
    recoded_rater2_1 = recode_old_codes(rater2_column1_codes)
    recoded_rater2_2 = recode_old_codes(rater2_column2_codes)
     
    # give new columns
    df['rater1_1'] = recoded_rater1_1
    df['rater1_2'] = recoded_rater1_2
    df['rater2_1'] = recoded_rater2_1
    df['rater2_2'] = recoded_rater2_2
    
    display(df.head())
    
    df.to_excel(r'D:\Projects\UG-league-project\data\coded-transcripts\recoded-transcripts\team-' + team_number + '.xlsx', index = False)

,Player,Team,Timestamp,Sentence,code-1-eve,code--2-eve,code-1-aj,code-2-aj,rater1_1,rater1_2,rater2_1,rater2_2
0,1,1,00:00,If we find late game anyway.... They definitel...,17,NaN,17,NaN,opinion or analysis,NaN,opinion or analysis,NaN
1,3,1,00:19,probably yeah,16,NaN,16,NaN,agree or acknowledge,NaN,agree or acknowledge,NaN
2,1,1,00:29,they come this way now gonna come this way the...,17,3.0,17,7.0,opinion or analysis,observation,opinion or analysis,sharing intention
3,2,1,00:43,you stand here if they walk around...,2,NaN,2,NaN,command,NaN,command,NaN
4,1,1,00:47,"well if I if I if I die here and I'll blame you,",15,NaN,15,NaN,non-task related,NaN,non-task related,NaN

,Player,Team,Timestamp,Sentence,code1-eve,code2-eve,code-1-lili,code-2-lili,rater1_1,rater1_2,rater2_1,rater2_2
0,1,11,00:00,"Okay, let's go",18,NaN,19.0,NaN,encouragement,NaN,emotional expression,NaN
1,2,11,00:01,wow thats a fast loading game,14,NaN,15.0,NaN,non-task related,NaN,non-task related,NaN
2,3,11,00:18,probably clear botside jungle and then come up...,4,1.0,6.0,4.0,suggestion,command,answer,suggestion
3,2,11,00:26,"Yeah, I think I can push into Gnar so it's not...",16,17.0,16.0,17.0,agree or acknowledge,opinion or analysis,agree or acknowledge,opinion or analysis
4,1,11,00:31,"he wouldnt lane vs gnar, gnarsh so gnar must p...",17,NaN,17.0,NaN,opinion or analysis,NaN,opinion or analysis,NaN

,Player,Team,Timestamp,Sentence,code-1-eve,code-2-eve,code-1-aj,code-2-aj,rater1_1,rater1_2,rater2_1,rater2_2
0,1,14,00:02,Good luck.,18,NaN,18,NaN,encouragement,NaN,encouragement,NaN
1,2,14,00:04,Good luck guys.,18,NaN,18,NaN,encouragement,NaN,encouragement,NaN
2,2,14,00:16,We're gonna try and invade,2,NaN,4,NaN,command,NaN,suggestion,NaN
3,3,14,00:18,"That's what I was going to say, do you want to...",4,16.0,4,NaN,suggestion,agree or acknowledge,suggestion,NaN
4,4,14,00:22,Let's actually go into this one.,2,NaN,2,NaN,command,NaN,command,NaN

,Player,Team,Timestamp,Sentence,code-1-eve,code-2-eve,code-1-ally,code-2-ally,rater1_1,rater1_2,rater2_1,rater2_2
0,1,15,00:00:00,Should be interesting.,17,NaN,17,NaN,opinion or analysis,NaN,opinion or analysis,NaN
1,1,15,00:04:00,Pushing fake by,0,NaN,0,NaN,misc,NaN,misc,NaN
2,2,15,00:05:00,"probably good be good with the morgana, morgan...",17,3.0,4,NaN,opinion or analysis,observation,suggestion,NaN
3,1,15,00:10:00,Lux,3,NaN,3,NaN,observation,NaN,observation,NaN
4,2,15,00:10:00,Lux Q,3,NaN,3,NaN,observation,NaN,observation,NaN

,Player,Team,Timestamp,Sentence,code-1-eve,code-2-eve,code-1-ally,code-2-ally,rater1_1,rater1_2,rater2_1,rater2_2
0,4,16,00:01,They got good though like towards the end like...,15,NaN,15,NaN,non-task related,NaN,non-task related,NaN
1,2,16,00:07,yeah,16,NaN,16,NaN,agree or acknowledge,NaN,agree or acknowledge,NaN
2,4,16,00:08,we actually became kind of competitive,15,NaN,15,NaN,non-task related,NaN,non-task related,NaN
3,5,16,00:12,I mean they did make an all professional leagu...,15,NaN,15,NaN,non-task related,NaN,non-task related,NaN
4,4,16,00:17,which one are you talking about? You got team ...,15,NaN,15,NaN,non-task related,NaN,non-task related,NaN

,Player,Team,Timestamp,Sentence,code-1-eve,code-2-eve,code-1-ally,code-2-ally,rater1_1,rater1_2,rater2_1,rater2_2
0,1,17,00:00,"Right,",0,NaN,0,NaN,misc,NaN,misc,NaN
1,2,17,00:00,"I actually take pretty seriously, Ranked Flex",15,NaN,15,NaN,non-task related,NaN,non-task related,NaN
2,1,17,00:06,"okay okay, will do",16,NaN,16,NaN,agree or acknowledge,NaN,agree or acknowledge,NaN
3,1,17,00:12,I don't know if I should path top to bot or bo...,17,NaN,17,NaN,opinion or analysis,NaN,opinion or analysis,NaN
4,3,17,00:15,I would go Top with (inaudible).,4,NaN,4,NaN,suggestion,NaN,suggestion,NaN

,Player,Team,Timestamp,Sentence,code-1-eve,code-2-eve,code-1-aj,code-2-aj,rater1_1,rater1_2,rater2_1,rater2_2
0,1,18,00:00:00,"All right, here we go.",15,NaN,15,NaN,non-task related,NaN,non-task related,NaN
1,2,18,00:02:00,"Oh, Caitlin is standing in the middle of, oh n...",3,NaN,3,NaN,observation,NaN,observation,NaN
2,2,18,00:14:00,Long sword start? That's weird.,17,NaN,17,NaN,opinion or analysis,NaN,opinion or analysis,NaN
3,1,18,00:16:00,Im gonna start red this game,7,NaN,7,NaN,sharing intention,NaN,sharing intention,NaN
4,2,18,00:21:00,sounds good.,16,NaN,16,NaN,agree or acknowledge,NaN,agree or acknowledge,NaN

,Player,Team,Timestamp,Sentence,code-1-eve,code-2-eve,code-1-aj,code-2-aj,rater1_1,rater1_2,rater2_1,rater2_2
0,1,19,00:00:00,it turns off,0,NaN,0,NaN,misc,NaN,misc,NaN
1,2,19,00:01:00,"Oh yeah, yeah.",16,NaN,16,NaN,agree or acknowledge,NaN,agree or acknowledge,NaN
2,1,19,00:03:00,"Yeah, they should Yeah.",16,NaN,16,NaN,agree or acknowledge,NaN,agree or acknowledge,NaN
3,1,19,00:10:00,Where's corrupting pot?,5,NaN,5,NaN,question or inquiry,NaN,question or inquiry,NaN
4,3,19,00:11:00,there we go,19,NaN,14,NaN,emotional expression,NaN,non-task related,NaN

,Player,Team,Timestamp,Sentence,code1-eve,code2-eve,code-1-aj,code-2-aj,rater1_1,rater1_2,rater2_1,rater2_2
0,1,2,00:54,So if I get the opportunity I kind of want to ...,17,4.0,7.0,1.0,opinion or analysis,suggestion,sharing intention,command
1,2,2,01:04,When will be starting around?,5,NaN,5.0,NaN,question or inquiry,NaN,question or inquiry,NaN
2,1,2,01:07,so like I'll be going Blue gromp red and then ...,7,NaN,7.0,NaN,sharing intention,NaN,sharing intention,NaN
3,3,2,01:15,yes,16,NaN,16.0,NaN,agree or acknowledge,NaN,agree or acknowledge,NaN
4,4,2,01:22,so I think we will need to play safe at bots,17,NaN,17.0,NaN,opinion or analysis,NaN,opinion or analysis,NaN

,Player,Team,Timestamp,Sentence,code-1-eve,code-2-eve,code-1-aj,code-2-aj,rater1_1,rater1_2,rater2_1,rater2_2
0,2,22,00:04,Who am I against again?,5,NaN,5,NaN,question or inquiry,NaN,question or inquiry,NaN
1,3,22,00:07,probably against renekton,6,NaN,6,NaN,answer,NaN,answer,NaN
2,2,22,00:08,"Trundle, nah im jungle",6,NaN,6,NaN,answer,NaN,answer,NaN
3,2,22,00:19,Trundle is one of those matchups where like if...,17,NaN,17,NaN,opinion or analysis,NaN,opinion or analysis,NaN
4,2,22,00:25,um bot lane is going to be the island for the ...,15,NaN,15,NaN,non-task related,NaN,non-task related,NaN

,Team,Player,Timestamp,Sentence,code-1-eve,code-2-eve,code-1-aj,code-2-aj,rater1_1,rater1_2,rater2_1,rater2_2
0,23,2,00:03,Yo start ghosting,2,9.0,2,9.0,command,humour or taunting,command,humour or taunting
1,23,1,00:03,That'd be hilarious but no,8,9.0,8,9.0,disagree,humour or taunting,disagree,humour or taunting
2,23,2,00:06,yeah im too late to ghost em,17,9.0,17,9.0,opinion or analysis,humour or taunting,opinion or analysis,humour or taunting
3,23,3,00:10,do you wanna invade?,4,NaN,4,NaN,suggestion,NaN,suggestion,NaN
4,23,1,00:10,absolutely not,8,NaN,8,NaN,disagree,NaN,disagree,NaN

,Player,Team,Timestamp,Sentence,code-1-lili,code-2-lili,code-1-ally,code-2-ally,rater1_1,rater1_2,rater2_1,rater2_2
0,1,24,00:04:00,Will he come back? Who knows,5,NaN,5,NaN,question or inquiry,NaN,question or inquiry,NaN
1,2,24,00:07:00,Think we're gonna invade,4,NaN,4,NaN,suggestion,NaN,suggestion,NaN
2,2,24,00:21:00,Mid lane's still gone,3,NaN,3,NaN,observation,NaN,observation,NaN
3,1,24,00:22:00,Yeah,16,NaN,16,NaN,agree or acknowledge,NaN,agree or acknowledge,NaN
4,2,24,00:24:00,Okay,16,NaN,16,NaN,agree or acknowledge,NaN,agree or acknowledge,NaN

,Player,Team,Timestamp,Sentence,code-1-lili,code-2-lili,code1-ally,code-2-ally,rater1_1,rater1_2,rater2_1,rater2_2
0,1,25,00:00,What we wanna do? Invade over there?,5,4.0,5,4.0,question or inquiry,suggestion,question or inquiry,suggestion
1,2,25,00:14,I think we'll just go whichever way the Nautil...,6,NaN,6,NaN,answer,NaN,answer,NaN
2,2,25,00:18,Happy to let him lead it,4,NaN,4,NaN,suggestion,NaN,suggestion,NaN
3,2,25,00:19,"Oh no, now he's standing still",9,NaN,9,NaN,humour or taunting,NaN,humour or taunting,NaN
4,1,25,00:22,He doesn't wanna lead it,9,3.0,9,NaN,humour or taunting,observation,humour or taunting,NaN

,Player,Team,Timestamp,Sentence,code-1-lili,code-2-lili,code-1-ally,code-2-ally,rater1_1,rater1_2,rater2_1,rater2_2
0,1,26,00:02:00,I- I think Gore- Goredrinker's broken on him. ...,17,4.0,17,4.0,opinion or analysis,suggestion,opinion or analysis,suggestion
1,2,26,00:08:00,"Depends, if you go Goredrinker for late game, ...",17,NaN,4,16.0,opinion or analysis,NaN,suggestion,agree or acknowledge
2,1,26,00:14:00,I think this one is going late game but if- if...,17,4.0,17,NaN,opinion or analysis,suggestion,opinion or analysis,NaN
3,2,26,00:21:00,No (inaudible) Goredrinker never tried on this...,17,NaN,17,8.0,opinion or analysis,NaN,opinion or analysis,disagree
4,1,26,00:30:00,Just for the all-ins you- you have the extra h...,17,NaN,3,NaN,opinion or analysis,NaN,observation,NaN

,Player,Team,Timestamp,Sentence,code-1-lili,code-2-lili,code-1-ally,code-2-ally,rater1_1,rater1_2,rater2_1,rater2_2
0,2,27,00:00,"Oh league sounds oh no. Nope, nope, nope, nope...",19,NaN,19,15.0,emotional expression,NaN,emotional expression,non-task related
1,2,27,00:06,Yes way better.,15,NaN,15,NaN,non-task related,NaN,non-task related,NaN
2,2,27,00:11,Let's go.,2,NaN,2,NaN,command,NaN,command,NaN
3,3,27,00:14,Man I hate playing against Tryndamere.,15,NaN,15,NaN,non-task related,NaN,non-task related,NaN
4,2,27,00:18,Ah it's fine.,18,NaN,18,NaN,encouragement,NaN,encouragement,NaN

,Player,Team,Timestamp,Sentence,code-1-eve,code-2-eve,code-1-lili,code-2-lili,rater1_1,rater1_2,rater2_1,rater2_2
0,1,28,00:00,Like arguing-,15,NaN,15.0,NaN,non-task related,NaN,non-task related,NaN
1,2,28,00:00,"Oh, oh, yeah, yeah that is- that is a given, p...",15,NaN,15.0,16.0,non-task related,NaN,non-task related,agree or acknowledge
2,1,28,00:05,"Yeah, but I don't know why because I love argu...",15,NaN,15.0,NaN,non-task related,NaN,non-task related,NaN
3,2,28,00:08,Yeah it's great.,15,NaN,15.0,NaN,non-task related,NaN,non-task related,NaN
4,1,28,00:09,Yeah.,16,NaN,16.0,NaN,agree or acknowledge,NaN,agree or acknowledge,NaN

,Player,Team,Timestamp,Sentence,code-1-eve,code-2-eve,code-1-lili,code-2-lili,rater1_1,rater1_2,rater2_1,rater2_2
0,1,29,00:00,"-comes from behind, it's like-",15,NaN,15,NaN,non-task related,NaN,non-task related,NaN
1,2,29,00:01,"Yeah, yeah, if he blocks it behind them I thin...",15,NaN,15,NaN,non-task related,NaN,non-task related,NaN
2,1,29,00:03,Okay.,16,NaN,16,15.0,agree or acknowledge,NaN,agree or acknowledge,non-task related
3,2,29,00:05,So if he Wind Walls behind them.,15,NaN,15,NaN,non-task related,NaN,non-task related,NaN
4,1,29,00:09,It's-,15,NaN,15,NaN,non-task related,NaN,non-task related,NaN

,Player,Team,Timestamp,Sentence,code1-eve,code2-eve,code-1-aj,code-2-aj,rater1_1,rater1_2,rater2_1,rater2_2
0,1,3,00:01,We have like a bronze jungler,15,NaN,9,NaN,non-task related,NaN,humour or taunting,NaN
1,2,3,00:04,haha,9,NaN,9,NaN,humour or taunting,NaN,humour or taunting,NaN
2,1,3,00:04,silver mid and top lane me and my partner bein...,15,NaN,9,NaN,non-task related,NaN,humour or taunting,NaN
3,2,3,00:09,traditional clash team you mean,15,NaN,9,NaN,non-task related,NaN,humour or taunting,NaN
4,1,3,00:12,it's called the hey at least we'll be in Tier ...,15,NaN,9,NaN,non-task related,NaN,humour or taunting,NaN

,Player,Team,Timestamp,Sentence,code-1-eve,code-2-eve,code-1-lili,code-2-lili,rater1_1,rater1_2,rater2_1,rater2_2
0,5,31,00:00,-Morgana all being kind of god skins,15,NaN,15,NaN,non-task related,NaN,non-task related,NaN
1,1,31,00:02,That's true,16,15.0,16,NaN,agree or acknowledge,non-task related,agree or acknowledge,NaN
2,1,31,00:03,"""Kai'Sa please marry me""",9,15.0,9,NaN,humour or taunting,non-task related,humour or taunting,NaN
3,3,31,00:17,"Do I trust myself enough to buy a ward? Yeah, ...",17,NaN,17,NaN,opinion or analysis,NaN,opinion or analysis,NaN
4,5,31,00:22,I heard the first thing- I was in Discord with...,14,NaN,15,NaN,non-task related,NaN,non-task related,NaN

,Player,Team,Timestamp,Sentence,code-1-eve,code-2-eve,code-1-lili,code-2-lili,Unnamed: 8,rater1_1,rater1_2,rater2_1,rater2_2
0,1,32,00:00,"Alright, now he's",0,NaN,0,NaN,NaN,misc,NaN,misc,NaN
1,2,32,00:03,7-0,0,NaN,0,NaN,NaN,misc,NaN,misc,NaN
2,1,32,00:03,2 and 0 so I mean 0 and 2 sorry,0,NaN,0,NaN,NaN,misc,NaN,misc,NaN
3,1,32,00:13,alright what if he invades,5,NaN,5,NaN,NaN,question or inquiry,NaN,question or inquiry,NaN
4,1,32,00:18,I'm going to drop a ward right here,7,NaN,7,NaN,NaN,sharing intention,NaN,sharing intention,NaN

,Player,Team,Timestamp,Sentence,code-1-eve,code-2-eve,code-1-aj,code-2-aj,rater1_1,rater1_2,rater2_1,rater2_2
0,4,33,00:01:00,Should we invade?,4,NaN,4,5.0,suggestion,NaN,suggestion,question or inquiry
1,1,33,00:04:00,We can,16,NaN,16,NaN,agree or acknowledge,NaN,agree or acknowledge,NaN
2,4,33,00:09:00,Do you wanna rush bottom or top? Bottom or thi...,4,NaN,4,NaN,suggestion,NaN,suggestion,NaN
3,3,33,00:12:00,Let's go here,16,NaN,16,NaN,agree or acknowledge,NaN,agree or acknowledge,NaN
4,4,33,00:13:00,I'll start Q,7,NaN,7,NaN,sharing intention,NaN,sharing intention,NaN

,Player,Team,Timestamp,Sentence,code-1-eve,code-2-eve,code-1-aj,code-2-aj,rater1_1,rater1_2,rater2_1,rater2_2
0,1,34,00:00:00,If I stream my monitor instead of the League g...,14,NaN,14,NaN,non-task related,NaN,non-task related,NaN
1,1,34,00:09:00,No worries.,14,NaN,14,NaN,non-task related,NaN,non-task related,NaN
2,2,34,00:14:00,That was the fastest loading screen I've seen ...,14,NaN,14,NaN,non-task related,NaN,non-task related,NaN
3,2,34,00:18:00,Interesting.,17,NaN,17,NaN,opinion or analysis,NaN,opinion or analysis,NaN
4,1,34,00:14:00,"Okay, uh...",0,NaN,14,NaN,misc,NaN,non-task related,NaN

,Player,Team,Timestamp,Sentence,code-1-eve,code-2-eve,code-1-aj,code-2-aj,rater1_1,rater1_2,rater2_1,rater2_2
0,1,36,00:00,That was super annoying,15,NaN,11,NaN,non-task related,NaN,frustration,NaN
1,2,36,00:00,"Now, like, hopefully some other bruiser mythic...",15,NaN,15,NaN,non-task related,NaN,non-task related,NaN
2,1,36,00:10,You think Stridebreakers strong?,5,15.0,5,NaN,question or inquiry,non-task related,question or inquiry,NaN
3,2,36,00:13,"Oh yeah, it's actually- I think right now it's...",6,15.0,6,15.0,answer,non-task related,answer,non-task related
4,1,36,00:19,I guess that little jump-in slow,15,NaN,15,NaN,non-task related,NaN,non-task related,NaN

,Player,Team,Timestamp,Sentence,code-1-eve,code-2-eve,code-1-lili,code-2-lili,rater1_1,rater1_2,rater2_1,rater2_2
0,1,37,00:00,Opposite I have like mastery on every champ in...,15,NaN,15,NaN,non-task related,NaN,non-task related,NaN
1,2,37,00:05,That's smart though I wanna try Vayne at some ...,15,NaN,15,NaN,non-task related,NaN,non-task related,NaN
2,2,37,00:07,Yeah it would be nice to have higher mastery o...,15,NaN,15,NaN,non-task related,NaN,non-task related,NaN
3,3,37,00:09,I have Sona with million I have Lulu with 800 ...,15,NaN,15,NaN,non-task related,NaN,non-task related,NaN
4,1,37,00:11,800k on Yuumi?,15,NaN,15,5.0,non-task related,NaN,non-task related,question or inquiry

,Player,Team,Timestamp,Sentence,code-1-eve,code-2-eve,code-1-lili,code-2-lili,rater1_1,rater1_2,rater2_1,rater2_2
0,1,38,00:16,ready for the invade?,5,NaN,5,4.0,question or inquiry,NaN,question or inquiry,suggestion
1,2,38,00:18,"nah they have a Blitzcrank, we could stack",8,NaN,8,4.0,disagree,NaN,disagree,suggestion
2,2,38,00:23,Darius isn't here,3,NaN,3,NaN,observation,NaN,observation,NaN
3,1,38,00:24,ah Darius has to be there yeah,17,16.0,17,16.0,opinion or analysis,agree or acknowledge,opinion or analysis,agree or acknowledge
4,2,38,00:25,I'm gonna just put a ward down here and recall,7,NaN,7,NaN,sharing intention,NaN,sharing intention,NaN

,Player,Team,Timestamp,Sentence,code-1-eve,code-2-eve,code-1-lili,code-2-lili,rater1_1,rater1_2,rater2_1,rater2_2
0,2,39,00:03,The default?,15,5.0,15,NaN,non-task related,question or inquiry,non-task related,NaN
1,1,39,00:05,"It doesn't say, skin with the chroma?",15,NaN,15,5.0,non-task related,NaN,non-task related,question or inquiry
2,2,39,00:10,Yeah,15,16.0,15,6.0,non-task related,agree or acknowledge,non-task related,answer
3,1,39,00:10,okay,15,16.0,15,16.0,non-task related,agree or acknowledge,non-task related,agree or acknowledge
4,2,39,00:10,you just gotta [inaudible],15,NaN,15,NaN,non-task related,NaN,non-task related,NaN

,Player,Team,Timestamp,Sentence,code-1-eve,code-2-eve,code-1-lili,code-2-lili,rater1_1,rater1_2,rater2_1,rater2_2
0,2,40,00:47:00,You wanna mess with them in the Tribush?,4,NaN,4,NaN,suggestion,NaN,suggestion,NaN
1,1,40,00:51:00,Alright.,16,NaN,16,NaN,agree or acknowledge,NaN,agree or acknowledge,NaN
2,3,40,00:54:00,What's up Drazida?,5,NaN,5,NaN,question or inquiry,NaN,question or inquiry,NaN
3,2,40,00:55:00,Uhh you wanna mess with them in the Tribush? I...,4,NaN,4,3.0,suggestion,NaN,suggestion,observation
4,3,40,00:59:00,Yeah. Uhh Henry you starting red?,16,5.0,16,5.0,agree or acknowledge,question or inquiry,agree or acknowledge,question or inquiry

,Player,Team,Timestamp,Sentence,code-1-eve,code-2-eve,code-1-lili,code-2-lili,rater1_1,rater1_2,rater2_1,rater2_2
0,1,41,00:08,Just a by the way Nasus Teemo's probably gonna...,17.0,4.0,17,2.0,opinion or analysis,suggestion,opinion or analysis,command
1,2,41,00:08,"Yeah, no that's the plan.",16.0,NaN,16,NaN,agree or acknowledge,NaN,agree or acknowledge,NaN
2,5,41,00:22,Are you kidding me,19.0,NaN,19,NaN,emotional expression,NaN,emotional expression,NaN
3,5,41,00:26,Ahh amorito!,19.0,NaN,19,NaN,emotional expression,NaN,emotional expression,NaN
4,3,41,00:29,"Oh they're invading, unfortunate. You're out t...",3.0,NaN,3,17.0,observation,NaN,observation,opinion or analysis

,Player,Team,Timestamp,Sentence,code-1-eve,code-2-eve,code-1-lili,code-2-lili,rater1_1,rater1_2,rater2_1,rater2_2
0,1,42,00:01,Basically unplayable because after two rotatio...,15,NaN,15,NaN,non-task related,NaN,non-task related,NaN
1,1,42,00:09,Okay.,16,NaN,16,NaN,agree or acknowledge,NaN,agree or acknowledge,NaN
2,2,42,00:17,I'll ward pixel and then recall,7,NaN,7,NaN,sharing intention,NaN,sharing intention,NaN
3,1,42,00:25,Gameplan?,5,NaN,5,NaN,question or inquiry,NaN,question or inquiry,NaN
4,2,42,00:26,I think we uhh I uhm,6,NaN,17,NaN,answer,NaN,opinion or analysis,NaN

,Player,Team,Timestamp,Sentence,code-1-eve,code-2-eve,code-1-lili,code-2-lili,rater1_1,rater1_2,rater2_1,rater2_2
0,1,43,00:01,Banned him.,15,NaN,15,NaN,non-task related,NaN,non-task related,NaN
1,2,43,00:03,"Ah, well then",15,NaN,15,NaN,non-task related,NaN,non-task related,NaN
2,1,43,00:04,I don't I don't have him on this account either,15,NaN,15,NaN,non-task related,NaN,non-task related,NaN
3,1,43,00:12,what is that?,15,NaN,5,NaN,non-task related,NaN,question or inquiry,NaN
4,2,43,00:14,The noise? It's Caitlyn,15,NaN,6,NaN,non-task related,NaN,answer,NaN

,Player,Team,Timestamp,Sentence,code-1-eve,code-2-eve,code-1-lili,code-2-lili,rater1_1,rater1_2,rater2_1,rater2_2
0,1,44,00:21,Do you wanna invade or?,5,NaN,5,4.0,question or inquiry,NaN,question or inquiry,suggestion
1,2,44,00:23,Nah I was just gonna ward. Could you sit,6,8.0,6,1.0,answer,disagree,answer,command
2,1,44,00:29,Here,5,NaN,5,NaN,question or inquiry,NaN,question or inquiry,NaN
3,2,44,00:29,Yea there's fine. Yeah.,16,NaN,16,6.0,agree or acknowledge,NaN,agree or acknowledge,answer
4,1,44,00:34,Zed is gonna just chill with you guys I guess.,17,NaN,17,NaN,opinion or analysis,NaN,opinion or analysis,NaN

,Player,Team,Timestamp,Sentence,code-1-eve,code-2-eve,Code 1 - Lili,Code 2 - Lili,rater1_1,rater1_2,rater2_1,rater2_2
0,2,45,00:01,That looks good that should be good. I have en...,15,NaN,15,NaN,non-task related,NaN,non-task related,NaN
1,3,45,00:12,Oh no my chroma didn't go on oops,15,NaN,15,NaN,non-task related,NaN,non-task related,NaN
2,2,45,00:15,Oh right Tristana skins a throwback.,15,NaN,15,NaN,non-task related,NaN,non-task related,NaN
3,3,45,00:24,"The very first time I played Ahri back like, f...",15,NaN,15,NaN,non-task related,NaN,non-task related,NaN
4,2,45,00:32,Nice okay they're coming.,18,3.0,18,3.0,encouragement,observation,encouragement,observation

,Player,Team,Timestamp,Sentence,code-1-eve,code-2-eve,code-1-lili,code-2-lili,rater1_1,rater1_2,rater2_1,rater2_2
0,1,46,00:00:00,Basically proceed to do nothing. I believe. Well.,0,NaN,15,NaN,misc,NaN,non-task related,NaN
1,2,46,00:42:00,Wait what,5,NaN,5,NaN,question or inquiry,NaN,question or inquiry,NaN
2,3,46,00:43:00,I think if you double click on the ward you ge...,15,NaN,17,NaN,non-task related,NaN,opinion or analysis,NaN
3,1,46,00:59:00,Yea it works when you buy it swaps to the othe...,16,NaN,16,NaN,agree or acknowledge,NaN,agree or acknowledge,NaN
4,2,46,01:13:00,That has actually never happened to me,15,NaN,17,NaN,non-task related,NaN,opinion or analysis,NaN

,Player,Team,Timestamp,Sentence,code-1-eve,code-2-eve,code-1-lili,code-2-lili,rater1_1,rater1_2,rater2_1,rater2_2
0,1,47,00:01:00,Let's go hey Kimbola how do you like to path w...,5,NaN,5,NaN,question or inquiry,NaN,question or inquiry,NaN
1,2,47,00:14:00,oh is he AFK no he's there,3,NaN,3,5.0,observation,NaN,observation,question or inquiry
2,3,47,00:18:00,yeah I'm,16,NaN,16,NaN,agree or acknowledge,NaN,agree or acknowledge,NaN
3,1,47,00:20:00,How do you like to path ?,5,NaN,5,NaN,question or inquiry,NaN,question or inquiry,NaN
4,1,47,00:21:00,do you go do you go red to top side or do you ...,5,NaN,5,NaN,question or inquiry,NaN,question or inquiry,NaN

,Player,Team,Timestamp,Sentence,code-1-eve,code-2-eve,code-1-lili,code-2-lili,rater1_1,rater1_2,rater2_1,rater2_2
0,1,48,00:00:00,Kinda kind of my philosophy with Morgana hones...,15,NaN,15,6.0,non-task related,NaN,non-task related,answer
1,1,48,00:44:00,I didn't want him to be that aggressive.,17,15.0,17,NaN,opinion or analysis,non-task related,opinion or analysis,NaN
2,2,48,00:50:00,Nooo.,19,NaN,19,NaN,emotional expression,NaN,emotional expression,NaN
3,1,48,00:50:00,okay we have the entire team,3,NaN,3,NaN,observation,NaN,observation,NaN
4,3,48,01:05:00,oh goodness,19,NaN,19,NaN,emotional expression,NaN,emotional expression,NaN

,Player,Team,Timestamp,Sentence,code1-eve,code2-eve,code-1-lili,code-2-lili,rater1_1,rater1_2,rater2_1,rater2_2
0,4,5,00:00:00,So I only really started playing last year the...,15,NaN,15,NaN,non-task related,NaN,non-task related,NaN
1,2,5,00:05:00,Oh my god I'm old.,15,NaN,15,NaN,non-task related,NaN,non-task related,NaN
2,1,5,00:10:00,yeah is started in Season three.,15,NaN,15,NaN,non-task related,NaN,non-task related,NaN
3,2,5,00:12:00,I started playing eight years ago.,15,NaN,15,NaN,non-task related,NaN,non-task related,NaN
4,4,5,00:14:00,Oh god,15,19.0,15,19.0,non-task related,emotional expression,non-task related,emotional expression

,Player,Team,Timestamp,Sentence,code1-eve,code2-eve,code-1-lili,code-2-lili,rater1_1,rater1_2,rater2_1,rater2_2
0,3,6,00:01,No one is quite a strong you care for guy from...,17,NaN,15,NaN,opinion or analysis,NaN,non-task related,NaN
1,1,6,00:48,okay,16,NaN,16,NaN,agree or acknowledge,NaN,agree or acknowledge,NaN
2,2,6,00:49,Garen has just warded into a blue or maybe eve...,17,NaN,17,3.0,opinion or analysis,NaN,opinion or analysis,observation
3,3,6,00:57,careful if the trades cos is irelia or go down...,17,4.0,17,4.0,opinion or analysis,suggestion,opinion or analysis,suggestion
4,2,6,01:13,hope that the rest of the team didn't go the o...,17,19.0,17,NaN,opinion or analysis,emotional expression,opinion or analysis,NaN

,Player,Team,Timestamp,Sentence,code-1-eve,code-2-eve,code-1-lili,code-2-lili,rater1_1,rater1_2,rater2_1,rater2_2
0,1,7,00:12,"Right I'm gonna go topside first and ward, the...",7,NaN,7,NaN,sharing intention,NaN,sharing intention,NaN
1,1,7,00:17,"Can I get a leash, please?",1,NaN,1,NaN,command,NaN,command,NaN
2,2,7,00:20,Yep,16,NaN,16,NaN,agree or acknowledge,NaN,agree or acknowledge,NaN
3,1,7,00:20,Could do with these areas covered,4,NaN,4,NaN,suggestion,NaN,suggestion,NaN
4,3,7,01:25,Got it,16,NaN,16,7.0,agree or acknowledge,NaN,agree or acknowledge,sharing intention

,Player,Team,Timestamp,Sentence,code-1-eve,code-2-eve,code-1-aj,code-2-aj,rater1_1,rater1_2,rater2_1,rater2_2
0,1,8,00:00,"and she's procc'd PTA, bork, and a bunch of ot...",15,NaN,3,NaN,non-task related,NaN,observation,NaN
1,2,8,00:05,see why you'd want to play that.,15,NaN,15,NaN,non-task related,NaN,non-task related,NaN
2,1,8,00:07,Yeah. But they are buffing her AP scaling soon...,15,NaN,15,NaN,non-task related,NaN,non-task related,NaN
3,2,8,00:12,I don't know how AP scaling being buffed isn't...,15,NaN,15,NaN,non-task related,NaN,non-task related,NaN
4,2,8,00:21,All right. I take it Thresh wants to at least ...,17,NaN,17,NaN,opinion or analysis,NaN,opinion or analysis,NaN

,Player,Team,Timestamp,Sentence,code-1-eve,code-2-eve,code 1 - ally,code 2 - ally,rater1_1,rater1_2,rater2_1,rater2_2
0,1,9,00:00,As well with TP so just be careful of that as ...,4,NaN,4,NaN,suggestion,NaN,suggestion,NaN
1,2,9,00:06,Im playing on my laptop which is a little bit ...,14,NaN,14,NaN,non-task related,NaN,non-task related,NaN
2,1,9,00:12,actually I'm gonna go here I think we don't re...,7,17.0,17,7.0,sharing intention,opinion or analysis,opinion or analysis,sharing intention
3,2,9,00:19,yeah I'll cover mid entrance,16,NaN,16,7.0,agree or acknowledge,NaN,agree or acknowledge,sharing intention
4,3,9,00:22,and I will cover down bot,16,NaN,7,NaN,agree or acknowledge,NaN,sharing intention,NaN

## DEBUGGING ZONE

In [6]:
import pandas as pd

df = pd.read_excel(r'D:\Projects\UG-league-project\data\coded-transcripts\new-coding-scheme\team-12.xlsx')
df.dtypes

Player           int64
Team             int64
Timestamp       object
Sentence        object
code-1-eve       int64
code-2-eve     float64
code-1-ally      int64
code-2-ally    float64
dtype: object

In [7]:
rater1_column1 = df.iloc[:, 4]
rater1_column2 = df.iloc[:, 5]

rater2_column1 = df.iloc[:, 6]
rater2_column2 = df.iloc[:, 7]

rater1_column1_codes = list(rater1_column1.values)
rater1_column2_codes = list(rater1_column2.values)

rater2_column1_codes = list(rater2_column1.values)
rater2_column2_codes = list(rater2_column2.values)

In [8]:

# run the function
recoded_rater1_1 = recode_new_codes(rater1_column1_codes)
recoded_rater1_2 = recode_new_codes(rater1_column2_codes)
recoded_rater2_1 = recode_new_codes(rater2_column1_codes)
recoded_rater2_2 = recode_new_codes(rater2_column2_codes)

In [9]:

# give new columns
df['rater1_1'] = recoded_rater1_1
df['rater1_2'] = recoded_rater1_2

df.head()

,Player,Team,Timestamp,Sentence,code-1-eve,code-2-eve,code-1-ally,code-2-ally,rater1_1,rater1_2
0,1,12,00:12,do you wanna invade?,3,NaN,3,NaN,suggestion,NaN
1,2,12,00:14,uh sure,12,NaN,12,NaN,agree/acknowledge,NaN
2,3,12,00:15,I'm going to ward and then I'm gonna... uh wai...,6,NaN,6,1.0,sharing intention,NaN
3,2,12,00:17,Im nearly there,2,NaN,6,NaN,observation,NaN
4,1,12,00:19,I'm gonna start E,6,NaN,6,NaN,sharing intention,NaN

In [10]:
df['rater2_1'] = recoded_rater2_1
df['rater2_2'] = recoded_rater2_2
df.head()

,Player,Team,Timestamp,Sentence,code-1-eve,code-2-eve,code-1-ally,code-2-ally,rater1_1,rater1_2,rater2_1,rater2_2
0,1,12,00:12,do you wanna invade?,3,NaN,3,NaN,suggestion,NaN,suggestion,NaN
1,2,12,00:14,uh sure,12,NaN,12,NaN,agree/acknowledge,NaN,agree/acknowledge,NaN
2,3,12,00:15,I'm going to ward and then I'm gonna... uh wai...,6,NaN,6,1.0,sharing intention,NaN,sharing intention,command
3,2,12,00:17,Im nearly there,2,NaN,6,NaN,observation,NaN,sharing intention,NaN
4,1,12,00:19,I'm gonna start E,6,NaN,6,NaN,sharing intention,NaN,sharing intention,NaN